module.exports = {
  "extends": "airbnb",
  "plugins": [
      "react",
      "jsx-a11y",
      "import"
  ],
  "rules": {
    "camelcase": 0, // too much Openid stuff with different namespacing.
    "react/prop-types": 0,
    "react/jsx-filename-extension": 0,
    "linebreak-style": 0,
    "no-shadow": 0,
  },
  "globals": {
    "document": true,
    "window": true,
  }
};