@mixin checkbox() {
  input[type=checkbox] {
    display: none
  }

  input[type=checkbox] + label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
  }

  input[type=checkbox] + label:before {
      content: "";
      display: inline-block;
      width: 13px;
      height: 13px;
      margin-right: 10px;
      position: absolute;
      left: 0;
      bottom: 2px;
      border: solid 2px #290742;
      border-radius: 3px;
      background-color: white;
  }

  input[type=checkbox]:checked + label:before {
      background: url("../../images/tick-checked-white.svg") center center no-repeat;
      background-size: 11px 11px;
      background-color: #290742;
  }

  input[type=checkbox]:focus + label:before {
    border: solid 1px #FF5F2F;
  }
}
