@mixin container() {
  background: white;
  padding: 45px 80px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  border-radius: 5px;
  min-height: 500px;
}

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}